:root {
  --morado: rgb(102, 88, 246);
  --morado-oscuro: rgb(65, 57, 148);
  --morado-claro: rgb(176, 171, 236);
  --gray: rgb(250, 250, 250);
  --blanco: white;
  --darkgray: rgb(223, 226, 228);
  --rosa: rgb(212, 146, 158);
}

body {
  min-height: 100vh;
  background-color: var(--gray);
  padding-left: 10px;
  padding-right: 10px;
}

.app {
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", Helvetica, sans-serif;
}

.header {
  margin-top: 30px;
}

.header-components {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 450px) {
  .header-components {
    display: block;
    overflow-x: auto;
  }
  .header-search {
    width: 100%;
  }
  .header-button-search {
    margin-top: 10px;
    width: 100%;
  }
}

.header-search {
  padding: 10px;
  border-radius: 5px;
}

.listado-pokemon {
  text-align: left;
}

table {
  width: 100%;
  background-color: var(--blanco);
  border-collapse: collapse;
  margin-top: 30px;
}

table,
th,
td {
  border: 1px solid var(--darkgray);
  padding: 5px;
}

@media screen and (max-width: 450px) {
  table {
    display: block;
    overflow-x: auto;
  }
}

.form-group {
  background-color: white;
  border: 1px solid rgb(148, 135, 135);
  box-shadow: 3px 3px 3px #888888;
  margin-top: 15px;
}

.btn {
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  /* text-transform: uppercase; */
  cursor: pointer;
  background-color: var(--morado);
  border: none;
}
.btn:hover {
  background-color: var(--morado-oscuro);
  transition: background-color 0.5s ease;
}
.btn:disabled {
  background-color: var(--morado-claro);
}

.btn-color {
  color: var(--morado);
}

.btn-color:hover {
  color: var(--morado-oscuro);
  transition: background-color 0.5s ease;
}

.btn-edit {
  border: none;
  background-color: var(--blanco);
}

.imagen {
  text-align: center;
}

.div-group-btn {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.div-group-input {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}

@media screen and (max-width: 600px) {
  .div-group-input {
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
  }
}

.form-input {
  padding: 10px;
  border-radius: 5px;
  margin-right: 5px;
  width: 12rem;
}

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 7px;
  background: var(--morado);
  border: none;
  border-radius: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: var(--morado);
  margin-top: -4px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--morado);
}

.span-range{
  font-size: 12px;
}

.mensaje {
  display: flex;
  padding: 15px 10px;
  text-align: center;
  justify-content: center;
  margin: 0 4rem;
  color: var(--blanco);
  font-weight: bold;
  border-radius: 5px;
  text-transform: uppercase;
}

.error {
  background-color: rgb(255, 2, 2);
}

.informacion {
  background-color: var(--morado);
}

.simbolo {
  margin-right: 5px;
}
